/* google search page */

    /* image and advanced search links */
.img, .advncd{
    font-family: arial,sans-serif;
    font-size: 15px;
    color: black;
      text-align:left;
    text-decoration: none;
    display: inline-block;
       line-height: 24px;    	
}
    /* image search link */
.img{
   position: absolute; 
   top: 20px; 
   right: 200px; 

}
    /* advanced search link */
.advncd{
   position: absolute; 
   top: 20px; 
   right: 50px; 
   
}
    /* headers for google search and image search page */
#logo{
    position: absolute;
    top: 250px;
    left: 550px;
}
    /* end headers for google and image search page */

    /* google search form */
#frm{
   position: absolute; 
   left: 520px; 
   top: 360px;
   background-color: transparent;
   border-radius: 15px;
   border: 1px solid #2d9fd9;
   width: 300px;
   height: 30px;  
   padding-left: 20px;
}
    /* submit button google search */
.bttn{
   position: absolute; 
   top: 40px; 
   right: 170px; 
   width:150px;
   border-radius: 5px;
   border: 1px solid #A9A9A9;
   padding: 5px;
   width: 150px;
   height: 30px;
}
    /* lucky button google search */
.bttn1{
   position: absolute; 
   top: 40px; 
   left: 170px; 
   width:150px;
   border-radius: 5px;
   border: 1px solid #A9A9A9;
   padding: 5px;
   width: 150px;
   height: 30px;
}
/* end google search page */

/* image search page */
    /* google search link */
.ggle {
    font-family: arial,sans-serif;
	font-size:15px;
	color: black;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	position: absolute; 
	top: 20px; 
	right: 30px; 
	width:150px;
}
    /* image search form */
#farm{
    position: absolute; 
	left: 520px; 
    top: 360px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #2d9fd9;
    width: 300px;
    height: 30px;  
    padding-left: 20px;
	
}
    /* p image search */
#mg {
    font-family: Arial, sans-serif;
	font-size:20px;
	color: rgb(39, 127, 243);
	position: absolute; 
	top: 300px; 
	left: 760px; 
	

}
    /* submit button image search */
.click {
	position: absolute; 
	top: 40px; 
	left: 77px; 
	border-radius: 5px;
  	border: 1px solid #A9A9A9;
  	padding: 5px;
  	width: 150px;
  	height: 30px;
}
/* end image search form */

/* advanced search form */
    /* google search link */
.search{
    font-family: arial, sans-serif;
	font-size: 15px;
	color: black;
  	text-align:left;
	text-decoration: none;
	display: inline-block;
   	line-height: 24px;    
	position: absolute; 
	top: 20px; 
	right: 50px; 
	
}
    /* headers for advanced search form */
#minilogo{
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}
    /* end header advanced search form */ 

    /* last header advanced search */
h7{
    font-family: arial, sans-serif;
	font-size: 30px;
	color: #d93025;
	position: absolute;
	top: 100px;
	left: 50px;
}
    /* p advanced search */
.par{
    font-family: arial,sans-serif;
}
#todo{
    font-family: arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 165px;
    right: 227px;
}
#tri{
    font-family: arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 243px;
    right: 181px;
}
#rat{
    font-family: arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 280px;
    right: 215px;
}
#OR{
    font-family: arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 320px;
    right: 81px;
}
#jack{
    font-family: arial, sans-serif;
    font-size: 13px;
    position: absolute;
    top: 355px;
    right: 30px;
}
#fnd{
    font-family: arial, sans-serif;
	font-size:20px;
	position: absolute;
	top: 180px;
	left: 50px;
	
}
    /* end p advanced search */

    /* advanced search forms */
div {
	color: black;
	font-size: 15px;
    position: absolute;
    left: 50px;
    top: 250px;
}
    /* advanced search text field */
#alll, #al, #la, #lla{
    font-family: arial, sans-serif;
}
.wrd, .wrda, .wrdb, .wrdc{
	border-radius: 1px;
  	border: 1px solid #d9d9d9;
  	border-top: 1px solid #c0c0c0;
  	font-size: 13px;
   	height: 25px;
	width: 650px;
   	padding: 1px 8px;
	
}
.wrd{
	margin-left: 78px;
	margin-bottom: 10px;
}
.wrda{
	margin-left: 10px;
	margin-bottom: 10px;
}
.wrdb{
	margin-left: 65px;
	margin-bottom: 10px;
}
.wrdc{
	margin-left: 43px;
	margin-bottom: 10px;
}
    /* end text field */

    /* submit button advanced search */ 
.bttn2{
	font-size: 12px;
	position: absolute; 
	top: 420px; 
	left: 777px; 
	border-radius: 5px;
 	border: 1px solid #A9A9A9;
 	width: 130px;
 	height: 30px;
    	background-color: #4d90fe;
  	border: 1px solid #3079ed;
    	color: #fff;
}
/* end advanced search page */